<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Test</display-name>
	<filter>
		<filter-name>sessionBeanFetch</filter-name>
		<filter-class>filter.SessionBeanFetchFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionBeanFetch</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>startServlet</servlet-name>
		<servlet-class>com.test.StartTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>startServlet</servlet-name>
		<url-pattern>/serv/start</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>beanTest</servlet-name>
		<servlet-class>com.test.BeanTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>beanTest</servlet-name>
		<url-pattern>/serv/bean</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>serv/start</welcome-file>
		<welcome-file>JSP/start.jsp</welcome-file>
	</welcome-file-list>
</web-app>